doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/images/favicon.ico')
    title Rockt Portal - Register
    // Bootstrap core CSS
    link(href='/dist/css/bootstrap.min.css', rel='stylesheet')
    // Icons
    link(href='/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/css/style.css', rel='stylesheet')
  body.register-page
    #wrapper.container-fluid
      .row
        main.col-xs-10.col-sm-8.col-md-4.m-auto
          .register-panel.card.mt-5
            .card-block
              h3.card-title.text-center.mt-1 Register
              .divider.mt-0
              form(role='form', action='/signup' method='post' onsubmit='return validateForm()')
                fieldset
                  .form-group
                    #fox.card-block
                      script(src='/js/bundle.js')
                    .form-group
                      input#email.form-control(placeholder='email', name='email', type='email', required)
                      .alert-email.alert.alert-danger.alert-dismissible(role='alert' style='color: #a56b21; margin-top: 15px;')
                        strong Warning!
                        |  You must input correct email
                    .form-group
                      input#password.form-control(placeholder='password', name='password', type='password', required)
                    .form-group
                      input#repwd.form-control(placeholder='re-type password', name='re-password', type='password', required)
                      .alert-pwd.alert.alert-danger.alert-dismissible(role='alert' style='color: #a56b21; margin-top: 15px;')
                        strong Warning!
                        |  Password must be same
                    .text-center
                      button(type='submit').btn.btn-lg.btn-primary Register
                    a.btn-back(href='/login') Already have an account?
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='/dist/js/bootstrap.min.js')
    script(src='/js/custom.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script.
      function validateForm(){
        var email = $('#email').val();
        var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(!reg.test(email)){
          $('.alert-email').show();
          setTimeout(function(){ $('.alert').hide(); }, 1000);
          return false;
        }else if($('#password').val() != $('#repwd').val()){
          $('.alert-pwd').show();
          setTimeout(function(){ $('.alert').hide(); }, 1000);
          return false;
        }else{
          return true;
        }
      }
      $('.alert').hide();